.gallery-image {
    /* width: 100vw; */
    height: calc(100vh - 10rem);
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: 100vh !important;
    /* width: 100vw !important; */
    object-fit: cover;
    /* width: auto; */
}

.image-gallery {
    padding-top: 5rem;
    /* height: calc(100vh - 10rem); */
}

.image-gallery-icon.image-gallery-right-nav {
    padding: 0 !important;
}

.image-gallery-icon.image-gallery-left-nav {
    padding: 0 !important;
}

.image-gallery-icon.image-gallery-fullscreen-button {
    padding: 0 !important;
}

.image-gallery-icon.image-gallery-play-button {
    padding: 0 !important;
}