.card-custom-menu {
    display: flex;
    width: 100vw;
    padding: 0;
    background-color: transparent;
    border: none;
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 5rem;
    justify-content: center;
    border-radius: 0;
    filter: drop-shadow(0 0.01rem 0.3rem rgb(210, 210, 210));
}

.p-menubar {
    display: flex;
    background-color: transparent;
    border: none;
    justify-content: space-between;
    padding: 0;
}

.p-menuitem-content a span{
    color: rgb(0, 0, 0);
}

.p-menubar-end {
    margin: 0;
}

.social-media-wrapper {
    display: flex;
    width: 7rem;
    padding: 0;
    margin-right: 4rem;
    justify-content: space-between;
}

.social-media-icon {
    width: 1.5rem;
    margin-left: 1rem;
    /* margin-right: 0.5rem; */
    filter: invert(0.3);
}

.logo-wrapper {
    width: 7rem;
}

.p-menubar-start {
    width: 180px;
}

@media screen and (max-width: 600px) {
    .card-custom-menu {
        
    }

    .social-media-wrapper {
        display: none;
    }

    .logo-wrapper .p-image img {
        width: 120px;
        top: -1.5rem !important;
        left: -2rem;
    }

    .p-menubar-button {
        margin-left: 9rem;
    }

    .p-menubar-root-list {
        top: 3.5rem;
    }

    .p-menuitem-link {
        justify-content: center;
    }
}